<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="act.sds.samsung.angelman">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature android:name="android.hardware.camera2.full" android:required="false" />

    <application
        android:allowBackup="true"
        android:name=".AngelmanApplication"
        android:icon="@drawable/ic_angelman_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.activity.OnboardingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activity.CameraGallerySelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.NewCategoryActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.activity.Camera2Activity"
            android:screenOrientation="portrait" />

        <activity android:name=".presentation.activity.MakeCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.activity.CardViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.PhotoEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.CategoryMenuActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".presentation.activity.VideoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <service android:name=".presentation.service.ScreenService" />

        <receiver android:name=".presentation.service.ScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".presentation.custom.AngelmanWidgetProvider"
            android:label="엔젤톡">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.action.BUTTON_CLICK"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider"/>
        </receiver>

         <receiver android:name=".presentation.receiver.NotificationActionReceiver"> 
        </receiver>

         <receiver
            android:name=".presentation.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver> 
    </application>
</manifest>